<body>
    <div class="registration-form">
        <h3 align="center">Forgot Password</h3>
        <br>
        <form style="margin-left: 430px;width: 450px;" novalidate [formGroup]="forgotPasswordForm"
            (ngSubmit)="forgotPassword()">
            <div class="form-group">

                <label>UserMail</label>
                <input type="email" class="form-control" formControlName="mailId" placeholder="Enter Your User MailId">
                <div class="alert alert-danger"
                    *ngIf="forgotPasswordForm.get('mailId').hasError('email') && forgotPasswordForm.get('mailId').dirty">
                    Enter appropriate User Mail!
                </div>
                <div class="alert alert-danger"
                    *ngIf="forgotPasswordForm.get('mailId').hasError('required') && forgotPasswordForm.get('mailId').dirty">
                    User Mail Id is required!
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary" [disabled]="forgotPasswordForm.invalid">Generate
                Password</button>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="**">Back</a>


        </form>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br>
</body>