<body>

  <ul>
    <li><a>Library Management System&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </li>
    <li><a (click)="viewAdminProfile()">My Profile&nbsp;&nbsp;&nbsp;&nbsp; </a></li>

    <li><a (click)="viewUsers()">View Users&nbsp;&nbsp;&nbsp;&nbsp; </a></li>

    <li><a (click)="viewBooks()">View Books&nbsp;&nbsp;&nbsp;&nbsp; </a></li>

    <li><a (click)="addBooks()">Add Book&nbsp;&nbsp;&nbsp;&nbsp; </a></li>

    <li><a (click)="viewRequest()">View Request&nbsp;&nbsp;&nbsp;&nbsp; </a></li>

    <li><a (click)="viewIssuedDetails()">View Issued Details&nbsp;&nbsp;&nbsp;&nbsp; </a></li>
    <!--   <li><a (click)="updateFine()">Update Fine&nbsp;&nbsp;&nbsp;&nbsp; </a></li> -->

    <li><a href="**">Logout</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>

  </ul>
</body>