<app-superadmin-dashboard></app-superadmin-dashboard>
<body>
  <div *ngIf="show">
    <br><br>
    <h2 align="center">Admin Details</h2>
    <br><br>
    <div class="reglist">
      <div>
        <table class="table table-striped">
          <thead>
            <tr>

              <th>Admin Name</th>
              <th>Admin Role</th>

              <th>Mail Id</th>

              <th>Delete</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of admins">

              <td>
                {{a.adminName}}
              </td>

              <td>
                {{a.adminRole}}
              </td>
              <td>
                {{a.mailId}}
              </td>


              <td>

                <button class="btn btn-primary" (click)="deleteAlertConfirmation(a.adminId)">Delete</button>
              </td>



            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <button style="width:100px;" class="btn btn-dark" (click)="return()">Back</button>

  </div>
</body>