<body>

  <ul>
    <li><a>Library Management System&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </li>
    <li><a (click)="view()">View Profile&nbsp;&nbsp;&nbsp;&nbsp;</a></li>

    <li><a (click)="searchBooks()">Search Books</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
    <li><a (click)="renewBook()">Renew Book&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
    <li><a (click)="returnBook()">Return Book</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
    <li><a (click)="viewIssueDetails()">View Issue Details</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
    <li><a href="**">Logout</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>


  </ul>
</body>